<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="flex justify-center items-center flex-col">
      <h4>Add Teacher</h4>
      <form
        [formGroup]="myForm"
        class="flex justify-center items-center flex-col"
      >
        <mat-form-field>
          <input matInput placeholder="name" formControlName="name" />
        </mat-form-field>

        <mat-form-field>
          <mat-select
            matInput
            placeholder="degree"
            formControlName="degree"
            (selectionChange)="setDegree($event.value)"
          >
            <mat-option *ngFor="let degree of degrees" [value]="degree.name">{{
              degree.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button
        type="submit"
        mat-raised-button
        (click)="postTeacher()"
        class="save-teacher-button"
        [disabled]="!myForm.valid"
      >
        Save Teacher
      </button>
    </div>
  </body>
</html>
