<!-- <nav class="bg-[#2f3748]"> -->
<nav class="bg-transparent">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-center">
      <div class="absolute inset-y-0 flex items-center sm:hidden"></div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <button
              *ngFor="let element of navigation"
              (click)="element.link()"
              class="cursor-pointer text-gray-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-lg"
            >
              {{ element.text }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
