<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <button
        type="menu"
        mat-stroked-button
        [matMenuTriggerFor]="courseMenu"
        (click)="loadCourses()"
      >
        Filter by course
      </button>
      <mat-menu #courseMenu="matMenu" xPosition="after" class="bg-gray-500">
        <button
          class="course-button text-white bg-gray-700"
          mat-raised-button
          *ngFor="let course of courses; let i = index"
          (click)="loadData(course.id)"
        >
          {{ course.name }}
        </button>
      </mat-menu>

      <table
        mat-table
        [dataSource]="dataSource"
        class="d-flex justify-content-center"
      >
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="Age">
          <th mat-header-cell *matHeaderCellDef>Age</th>
          <td mat-cell *matCellDef="let element">{{ element.age }}</td>
        </ng-container>
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button class="action-buttons" (click)="openModal(element.id)">
              Add Grade
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </body>
</html>
