<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="flex justify-center items-center flex-col">
      <h4>Add Course</h4>
      <form [formGroup]="myForm">
        <mat-form-field>
          <input matInput placeholder="name" formControlName="name" />
        </mat-form-field>
      </form>
      <button
        type="submit"
        mat-raised-button
        (click)="postCourse()"
        class="save-course-button"
        [disabled]="!myForm.valid"
      >
        Save Course
      </button>
    </div>
  </body>
</html>
