<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="w-content">
    <div class="md:flex md:justify-center md:items-center">
      <div>
        <div>
          <h3 class="animate-charcter">
            Welcome to my student maganement system!
          </h3>
          <app-horizontal-menu></app-horizontal-menu>
        </div>
      </div>
    </div>
    <div class="animation-wrapper">
      <div class="animated-block first"></div>
      <div class="animated-block second"></div>
      <div class="animated-block third"></div>
    </div>
  </body>
</html>
